.footer {
	padding: 79px 70px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 13px;
	line-height: 16px;
}

.footer_none {
	display: none;
}

.footer__title {
	margin: 0 0 20px;
	font-size: 13px;
	font-weight: normal;
	color: #A0A0A0;
	grid-area: header;
	justify-self: center;
}

.footer__container {
	padding: 20px 0 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #424242;
}

.footer__copyright {
	margin: 0;
	color: #FFFFFF;
}

.footer__link-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}

.footer__link {
	text-decoration: none;
	color: #FFFFFF;
	transition: 2s;
}

.footer__link:hover {
	opacity: 60%;
}

.footer__link-item:nth-child(2n) {
	margin-left: 20px;
}

@media screen and (max-width: 800px) {
	.footer {
		padding-top: 60px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 400px) {
	.footer {
		padding: 59px 10px 10px;
		font-size: 12px;
		line-height: 15px;
	}

	.footer__title {
		text-align: center;
		font-size: 12px;
		line-height: 15px;
	}

	.footer__container {
		padding-top: 30px;
		flex-direction: column-reverse;
		align-items: center
	}

	.footer__link-list {
		flex-direction: column;
		align-items: center
	}

	.footer__link-item:nth-child(2n) {
		margin-left: 0;
		margin-top: 12px;
	}

	.footer__copyright {
		margin-top: 30px;
	}
}